body {
    font-family: 'fuente';
    width: auto;
    color: white;
    font-size: 25px;
    background: black;
}


/*---------------------------------------------*/


/*Estilo de Fuente*/


/*---------------------------------------------*/

@font-face {
    font-family: 'fuente';
    src: url(./BillionDreams_PERSONAL.ttf);
}


/*---------------------------------------------*/


/*login*/


/*---------------------------------------------*/

.login .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciar-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.4);
}

.login-titulo {
    font-size: 50px;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 40px;
    width: 30%;
    justify-content: center;
}

.login-input {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.login-boton {
    border: solid 1px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'fuente';
    cursor: pointer;
    font-size: 25px;
    margin: 20px;
}

.btnn {
    text-decoration: none;
    color: white;
}


/*------------------------------------------*/


/*responsive*/


/*------------------------------------------*/

@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }
    .iniciar-login {
        background: black;
    }
    .login-titulo {
        color: white;
    }
    .objeto {
        width: 100%;
        height: 100%;
    }
    .box li {
        position: absolute;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: rgb(245, 241, 241);
        animation: animate 20s linear infinite;
        top: 1;
        border-radius: 50%;
    }
    .box li:nth-child(1) {
        Left: 75%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .box li:nth-child(2) {
        Left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
    }
    .box li:nth-child(3) {
        Left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
    }
    .box li:nth-child(4) {
        Left: 45%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
    }
    .box li:nth-child(5) {
        Left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }
    .box li:nth-child(6) {
        Left: 15%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
    }
    @keyframes animate {
        0% {
            transform: translateY(0) scale(0);
        }
        100% {
            transform: translateY(-800px) scale(2);
            opacity: 0;
        }
    }
}