    /*----------------------------

pizarra

----------------------------*/
    
    .Descripcion .container {
        display: flex;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding-top: 30px;
    }
    
    .descripcion {
        display: flex;
        align-items: center;
    }
    
    .caja-img-descripcion {
        display: flex;
        margin: 20px;
        width: 50%;
        height: 500px;
        border-radius: 10px;
        background-size: cover;
        justify-content: right;
        box-shadow: 0px 0px 30px rgba(243, 236, 236, 0.404);
    }
    
    .form-descripcion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px;
    }
    
    .input-producto {
        padding: 20px;
        text-align: center;
        background-color: black;
        border: none;
        color: white;
        font-size: 30px;
        font-family: 'fuente';
    }
    
    .input-descripcion {
        margin: 30px;
        background-color: black;
        transition: 1s;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 16px;
        font-style: italic;
    }
    
    .boton-descripcion {
        border: solid 1px;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        font-family: 'fuente';
        cursor: pointer;
        font-size: 20px;
        margin: 10px;
    }
    
    .input-cancelar {
        border: solid 1px;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        font-family: 'fuente';
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
    }
    /*------------------------------------------*/
    /*responsive 768*/
    /*------------------------------------------*/
    
    @media (max-width: 768px) {
        .Descripcion .container {
            display: flex;
            background: #ebe6e6;
            text-align: center;
            flex-direction: column;
        }
        .caja-img-descripcion {
            display: flex;
            margin: 20px;
            width: 100%;
            height: 300px;
            background-position: center;
        }
        .descripcion {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .titulo-descripcion {
            color: black
        }
    }
    /*------------------------------------------*/
    /*responsive 1200*/
    /*------------------------------------------*/
    
    @media (max-width: 1200px) {}