    /*----------------------------

pizarra

----------------------------*/
    
    .Descripcion .container {
        display: flex;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding-top: 30px;
    }
    
    .descripcion {
        display: flex;
        align-items: center;
    }
    
    .caja-img-descripcion {
        display: flex;
        margin: 20px;
        width: 50%;
        height: 500px;
        border-radius: 10px;
        background-size: cover;
        justify-content: right;
        box-shadow: 0px 0px 30px rgba(243, 236, 236, 0.404);
    }
    
    .form-descripcion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px;
    }
    
    .input-producto {
        padding: 20px;
        text-align: center;
        background-color: black;
        border: none;
        color: white;
        font-size: 30px;
    }
    
    .input-descripcion {
        width: 100px;
        padding: 150px;
        margin: 30px;
        text-align: center;
        background-color: black;
        border: none;
        transition: 1s;
        color: white;
        font-size: 20px;
    }
    
    .boton-descripcion {
        border: solid 1px;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        font-family: 'fuente';
        cursor: pointer;
        font-size: 20px;
        margin: 10px;
    }
    
    .input-cancelar {
        border: solid 1px;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        font-family: 'fuente';
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
    }



    
/*------------------------------------------*/


/*responsive 768*/


/*------------------------------------------*/

@media (max-width: 768px) {
    .Descripcion .container {
        display: flex;
        text-align: center;
        flex-direction: column;
       
    }.caja-img-descripcion{
        display: flex;
        margin: 20px;
        width: 80%;
        height: 400px;
        
    }
    .descripcion{
        display: flex;
        flex-direction: column;justify-content: center;
    }

}


/*------------------------------------------*/


/*responsive 1200*/


/*------------------------------------------*/

@media (max-width: 1200px) {
  
}